div{
    height : 200px;
    width : 500px;
    background-color : rgb(184, 177, 177);
    border-width: 5px;
    border-style : solid;
    border-color: black;
}

h1{
    border-width: 2px;
    border-style : dashed;
    border-color: black;
}
 button{
    border : 5px solid rgb(100, 46, 46) ;
    border-radius : 10px;
    padding-left : 2px;
    padding-right : 2px;
    padding-top : 2px;
    padding-bottom : 2px;
    background-color : rgb(174, 110, 110);

} 