#main{
    background-color: pink;
    height: 100px;
    width: 400px;
    animation-name: stepAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 4;
    animation-duration: normal;
}

/* .sub p{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
} */

/* @keyframes fontAnimation{
    from{
        font-size: 20px;
        background-color: pink;
    }
    to{
        font-size: 50px;
        background-color: rgb(103, 182, 103);
    }
} */


@keyframes stepAnimation{
    0%{
        background-color: pink;
    }
    50%{
        background-color: red;
    }
    80%{
        background-color: green;
    }
}

@media (max-width : 200px){
#main{
     background-color: black;
}
}



@media (max-width : 100px) and (max-width : 200px){
    #main{
         background-color: black;
    }
    }
    
@media(orientation : landscape){
    #main{
        background-color: black;
    }
}




